@tailwind base;
@tailwind components;
@tailwind utilities;

/* .css-c5v1qu-MuiInputBase-input-MuiFilledInput-input {
  background: white !important;
  border-radius: 4px !important;
  color: rgb(71 85 105) !important;
  font-size: 14px !important;
} */

@layer components {
  .table-head {
    @apply px-6 align-middle border py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left;
  }
  .light-bg {
    @apply bg-slate-50 text-slate-500 border-slate-100;
  }
  .dark-bg {
    @apply bg-sky-800 text-sky-300 border-sky-700;
  }
  .table-data {
    @apply border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4;
  }
  .select {
    @apply px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded border text-sm focus:outline-none focus:ring w-full ease-linear transition-all duration-150;
  }
}

.select * {
  padding: 0.75rem !important;
  color: rgb(71 85 105) !important;
  margin: 0.75rem;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.7rem !important;
}
.dashBody {
  min-height: calc(100vh - 370px);
}
